################################################################################
# Este arquivo .gitignore foi criado automaticamente pelo Microsoft(R) Visual Studio.
################################################################################

/TCC/Revisao_10/Revisao_09/Agenda_C_sharp/obj
/TCC/Revisao_10/Revisao_09/Agenda_C_sharp/bin
/TCC/Revisao_10/Revisao_09/banco de dados/Goods_of_Games/obj
